{% extends "layout.html" %}

{% block title %}Top page{% endblock %}

{% block main %}

    <div class="slider">
      <div><img src="../images/01.jpeg"></div>
      <div><img src="../images/02.jpeg"></div>
      <div><img src="../images/03.jpeg"></div>
    </div>
    
    <div class="shares"></div>
    <!-- slickのjsの読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- 起動スクリプト -->
    <script>
      $('.slider').slick({
        arrows:true,
        dots:true,
     });
    </script>

{% endblock %}
