{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block home %}
  <!-- slick(jQueryプラグイン)の読み込み -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
  <!-- jQueryの読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- bootstrapの読み込み -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <style>
    ul {
      display: flex;
      list-style: none;
    }

    .slick-prev::before,
    .slick-next::before {
      color: black!important;
    }
  </style>
{% endblock %}

{% block main %}
  <div class="slider">
    <div><img src="images/01.jpeg"></div>
    <div><img src="../images/02.jpeg"></div>
    <div><img src="../images/03.jpeg"></div>
  </div>

  <div class="shares">
    {% for tweet in tweets %}
      <p>ユーザー：{{ tweet.user.name }}(@{{ tweet.user.screen_name }})</p>
      <p>{{ tweet.text }}</p>
    {% endfor %}
  </div>

  <!-- slickのjsの読み込み -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <!-- 起動スクリプト -->
  <script>
    $('.slider').slick({
      arrows:true,
      dots:true,
    });
  </script>

{% endblock %}
