{% extends "layout.html" %}

{% block title %}Recruit Page{% endblock %}

{% block main %}
    <h1>お問い合わせ　内容入力</h1>
    <p>お問い合わせ内容をご入力の上、送信ボタンをクリックしてください。</p>
    <label for="name">お名前</label><button type="button" class="btn btn-danger btn-sm">必須</button>：<input id="name" type="text" name="yourname" placeholder="例）山田太郎"><br>
    <label for="mail">メールアドレス</label><button type="button" class="btn btn-danger btn-sm">必須</button>：<input id="mail" type="email" name="mail" placeholder="例）guest@example.com"><br>
    <label for="choice">当社を知ったきっかけ</label><button type="button" class="btn btn-danger btn-sm">必須</button>：
    <select name="choice">
        <option value="navi">ナビサイト（キャリタス・JOBRASSなど）</option>
        <option value="goudo">合同企業説明会</option>
        <option value="gakunai">学内の会社説明会</option>
        <option value="kyujinhyo">学校の求人票</option>
        <option value="kyariasennta">キャリアセンターや学校関係者の紹介</option>
        <option value="jyouhousi">学校発行の就職情報誌</option>
        <option value="tijin">知人の紹介</option>
        <option value="other">その他</option>
    </select>
    <br>
    <label for="contents">お問合せ内容</label><button type="button" class="btn btn-danger btn-sm">必須</button>：
    <br>
    <textarea id="contents" name="contents" placeholder="お問合せ内容を入力"></textarea><br>
    <button type="submit" class="btn btn-primary btn-lg">送信</button>
{% endblock %}